

	.box {
		height: 325px;
		width: 500px;
		padding:10px;
		border: 2px solid;
		position: relative;
	}
	.flag {
		color: white;
		height:150px;
		width:300px;
	}
	
	
	.circle {
		width:170px;
		height:170px;
		border-radius: 50%;
		background-color: red;
		position: relative;
		top: 65px;
		left: 155px;

	}
	.rectangle {
		width: 500px;
		height: 60px;
		background-color: blue;
		position:relative;
		bottom:-20px;
	}
	.rectangle2 {
		width: 500px;
		height: 60px;
		background-color: blue;
		position:absolute;
		bottom:30px;
	}


	.box2 {
		height: 300px;
		width: 500px;
		padding:10px;
		border: 2px solid;
		position: relative;
		background-color: red;
	}
.triangle {
	width:0;
	height:0;
	position: relative;

}
.triangle.right {
	border-top: 160px solid transparent;
	border-left: 260px solid limegreen;
	border-bottom: 160px solid transparent;
	right: 10px;
	bottom: 10px;
}
.triangle.left {
	border-top: 160px solid transparent;
	border-right: 270px solid limegreen;
	border-bottom: 160px solid transparent;
	bottom: 330px;
	right:-240px;
	
}
.circle2 {
		width:170px;
		height:170px;
		border-radius: 50%;
		background-color: white;
		position: relative;
		bottom: 570px;
		right: -155px;
}

.star-six {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid limegreen;
	position: relative;
	top:22px;
	left:68px;
}
.star-six:after {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid limegreen;
	position: absolute;
	content: "";
	top: 9px;
	left: -15px;
}

	.star-red {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 24px solid red;
	position: relative;
	top:-4px;
	left:71px;
}
.star-red:after {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 24px solid red;
	position: absolute;
	content: "";
	top: 8px;
	left: -12px;
}

.star-2 {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid limegreen;
	position: relative;
	top:35px;
	left:30px;
}
.star-2:after {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid limegreen;
	position: absolute;
	content: "";
	top: 9px;
	left: -15px;
}

	.star-2red {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 24px solid red;
	position: relative;
	top:9px;
	left:33px;
}
.star-2red:after {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 24px solid red;
	position: absolute;
	content: "";
	top: 8px;
	left: -12px;
}
			
			.star-3 {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid limegreen;
	position: relative;
	top:-20px;
	left:110px;
}
.star-3:after {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid limegreen;
	position: absolute;
	content: "";
	top: 9px;
	left: -15px;
}

	.star-3red {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 24px solid red;
	position: relative;
	top:-46px;
	left:113px;
}
.star-3red:after {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 24px solid red;
	position: absolute;
	content: "";
	top: 8px;
	left: -12px;
}	
	
	.star-4 {
	width: 0;
	height: 0;
	border-left: 54px solid transparent;
	border-right: 54px solid transparent;
	border-bottom: 108px solid blue;
	position: relative;
	top: -240px;
	left: 200px;
}
.star-5 {
	width: 0;
	height: 0;
	border-left: 54px solid transparent;
	border-right: 54px solid transparent;
	border-top: 108px solid blue;
	position: relative;
	content: "";
	top: 30px;
	left: -54px;
}

.hexagon {
  position: relative;
  width: 50px; 
  height: 28.87px;
  background-color: white;
  margin: 14.43px 0;
  transform: rotate(-90deg);  
  top:-97px;
  left:-25px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 14.43px solid white;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid white;
}
.small-star-1 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 15px 8px;
	border-color: transparent transparent white transparent;
	position:relative;
	top:-177px;
	left:-7.5px;
}
.small-star-2 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 15px 8px;
	border-color: transparent transparent white transparent;
	position:relative;
	transform: rotate(-60deg);  
	top:-173px;
	left:-40px;
}
.small-star-3 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 15px 8px;
	border-color: transparent transparent white transparent;
	position:relative;
	transform: rotate(60deg);  
	top:-187px;
	left:26px;
}
.small-star-4 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 15px 8px;
	border-color: transparent transparent white transparent;
	position:relative;
	transform: rotate(180deg);  
	top:-134px;
	left:-6.8px;
}

.small-star-5 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 15px 8px;
	border-color: transparent transparent white transparent;
	position:relative;
	transform: rotate(-122deg);  
	top:-165px;
	left:-42px;
}
.small-star-6 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 15px 8px;
	border-color: transparent transparent white transparent;
	position:relative;
	transform: rotate(120deg);  
	top:-180px;
	left:27px;
}