.border {
  border:5px groove;
  height:90px;
  font-size: 25px;
  color:white;
}
th {
  border: 5px solid;
  background-color: white;
  border:5px groove;
}
a {
  padding:10px;
}
table  {
  margin-bottom: 10px; 
/*margin-left: 25%;*/
}
body {
  background-image:url(/img/forest.jpg);
  background-size: cover;
  background-attachment: fixed;

}
#header {
  height:50px;
  background-color: black;
}
.color-title {
  color:white;
}
.footer {
  background-color: black;
  height:50px;
  margin-top:20px;
}

.park_info {
  color:black;
}
h3 {
  color:white;
}
.errors {
  background-color: yellow;
  color:black;
}
.errorFinder {
  background-color: yellow;
}
.parkForm {
  color:white;
}

